@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@font-face {
    font-family: 'iec_symbols_unicoderegular';
    src: url('../../css/Unicode_IEC_symbol.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}

body,html {
	margin: 0;
	padding: 0;
	background-color: white;
}
#mainPopup {
	font-family: 'Roboto', sans-serif;		
	padding: 0;
	margin: 0;
	height: 350px;
	width: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: black;		
}
h1 {
	font-family: 'Roboto', sans-serif;	
	margin: 0;
	padding: 2px;		
	display: block;
	text-align: center;		
	font-size: 1.5em;
	font-weight: 300;
	color: white;		
	background: linear-gradient(to bottom, #219bff 0%, #219bff 69%, #97cfff 100%);
}

.sectionTitle {
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
	font-weight: 400;
	color: black;
	padding: 2px;
	padding-left: 8px;
	margin: 0;
	border-color: #b8b8b8;
	border-width: 1px;
	border-style: solid;		
	background: linear-gradient(to right, #ededed 0%, #f6f6f6 38%, #ffffff 100%);		
}
.sectionTitle span {
	padding: 0 5px 0 0;
}	
.section { 
	padding: 5px;
}
.section select, input {
	font-size: 0.8em;
	margin-left: 4px;
}
.colPickRow {
	position: relative;
	display: inline-block;
	top: 1px;
	margin:0;
	padding: 0;
}	
.colorPickerContainer {		
	display: inline-block;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 2px;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
	overflow: hidden;
}
.minicolors-panel {
	position: fixed;
	top: 2px;
	margin: 0 20px 0 0;
}
.addSubContainer {
	display: inline-block;
	float:left;
	font-size: 1.5em;
	font-weight: 500;
	margin: 1px 10px 0 10px;
}
#sub {		
	padding-left: 2px;
	margin: 0 5px 0 5px;
}
#add {
	margin: 0 5px 0 5px;
}

#preview {		
	padding: 1px 0 2px 22px;
	background-color: #eeeef5;
}
#preview span {
	padding: 0 ;
	margin: 0 -1px 0 0;
	font-size: 1.6em;
	color: green;
}
#powerButton.on {
	font-family: 'iec_symbols_unicoderegular';
	font-size: 1.2em;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 18px;
	padding: 4px 0 2px 12px;
	text-align: left;
	color: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;		
	background: linear-gradient(to right, #00FF00 0%, #bfff00 100%);
}
#fixedLengthTitle {
	padding-left: 15px;
}
#colorControlsContainer {
	margin: 0;
	padding: 0;
}